.stepperContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  min-width: 600px;
  min-height: 300px;

  .stepIndicatorContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }

  .stepWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .stepWrapper:last-of-type {
    width: unset;
  }


  .stepNumber {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ddd;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &.active {
          background-color: #78b8fc;
          color: white;
      }
  }

  .stepLine {
      flex-grow: 1;
      height: 2px;
      background-color: #ddd;
      margin: 0 5px;

      &.activeLine {
          background-color: #78b8fc;
      }
  }

  .stepperControls {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
  }

  .stepperButton {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #78b8fc;
      color: white;
      border-radius: 4px;

      &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
      }
  }

  .stepContent {
      margin-bottom: 20px;
      font-size: 16px;
  }
}
