.stepperContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: transparent;
  min-width: 600px;
  min-height: 300px;

  .stepIndicatorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .stepWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .stepWrapper:last-of-type {
    width: unset;
  }


  .stepNumber {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &.active {
        background-color: #78b8fc;
        color: white;
    }
  }

  .stepLine {
    flex-grow: 1;
    height: 2px;
    background-color: #ddd;
    margin: 0 5px;

    &.activeLine {
        background-color: #78b8fc;
    }
  }

  .stepperControls {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .stepperButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #78b8fc;
    color: white;
    border-radius: 4px;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
  }

  .stepContent {
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    min-width: unset;
    padding: 20px 8px;
    .stepIndicatorContainer {
      justify-content: center;
      .stepWrapper {
        position: relative;
        width: unset;
      }
      .current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: #78b8fc;
        bottom: 14px;
        left: 40px;
      }
      .current::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: #78b8fc;
        bottom: 14px;
        right: 40px;
      }
      .notCurrent {
        display: none;
      }
      .stepLine {
        display: none;
      }
    }
  }
}
