.whyParticipateSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  background: linear-gradient(90deg, #7d9faa, #14374d 94%);
  color: white;
  font-family: var(--font-bellefair);
  padding-top: 40px;
  padding-bottom: 60px;

  h1 {
    font-size: 50px;
    margin-top: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: var(--font-kanit);
    border-bottom: 2px solid white;
    padding-bottom: 12px;
  }
  h2 {
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    max-width: 800px;
  }
  .textList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    ul {
      list-style-type: none;
      div {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    li {
      font-size: 30px;
      max-width: 800px;
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 14px 0px;

    h1 {
      text-align: center;
      font-size: 34px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    .textList {
      ul {
        padding-left: 8px;
        div {
          img {
            width: 14px;
            height: 14px;
          }
        }
        li {
          font-size: 22px;
        }
      }
    }
    h2 {
      font-size: 22px;
    }
  }
}
