.bundleDetails {
  font-family: var(--font-bellefair);

  .roles, .bundles, .rights {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
  }
  .roles {
    border-bottom: 1px solid #ddd;
  }

  .paymentWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-size: 24px;
      a {
        color:#2b8ef7;
        background-color: transparent;
        text-transform: lowercase;
        padding: 0;
        border: none;
        text-decoration: underline;
      }
    }
    .payment {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ddd;
      padding: 10px;
      width: 100%;
      .bundles {
        p {
          margin: 0;
        }
      }
      .rights {
        p {
          margin: 0;
        }
      }
      button {
        font-size: 22px;
        padding: 0px 24px;
        border-radius: 0px;
        margin-top: 12px;
        background-color: #3e93ef;
        &:hover {
          background-color: #2189f7;;
        }
      }
    }
  }
}
