.button {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  line-height: 42px;
  border-radius: 60px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  width: auto;
  padding: 17px 40px 16px;
  font-size: 30px;
  outline: none;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  word-break: break-word;
  font-weight: 400;
  font-family: var(--font-bellefair);
  color: #0c2e47;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

.loading {
  background-color: rgba(255, 255, 255, 0.6);
}
