.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  p {
    font-size: 20px;
    margin: 40px;
  }

  button {
    border: 1px solid #0c2e47;
  }
}
