.communityLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow-x: hidden;
  background-color: #effbff;
}

.communityFooter {
  background-color: black !important;
  color: white !important;
}
