.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('/background.jpeg');
  background-size: cover;
  background-position: center;
  color: #0c2e47;
  h1 {
    width: 100%;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    font-family: var(--font-bellefair);
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 0px;
    font-weight: 400;
  }
  h5 {
    font-size: 22px;
    margin: 20px 0px;
    font-style: italic;
  }
  button {
    margin-top: 14px;
    margin-bottom: 28px;
  }
  p {
    font-size: 20px;
    text-align: center;
    max-width: 920px;
  }
<<<<<<< Updated upstream
=======
  .videoWrapper {
    position: relative;
    img {
      cursor: pointer;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }
  }

>>>>>>> Stashed changes

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
}
