.howItFormsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #effbff;;
  color: #0c2e47;
  font-family: var(--font-bellefair);
  padding: 40px 0px;

  .introWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    background: linear-gradient(90deg, #7d9faa, #14374d 94%);
    font-family: var(--font-bellefair);
    color: white;
    padding: 40px 0px 80px 0px;
    width: 100%;
    p {
      font-size: 32px;
      max-width: 800px;
    }
  }

  h1 {
    font-size: 50px;
    margin-top: 28px;
    margin-bottom: 40px;
    font-weight: 400;
    font-family: var(--font-kanit);
    border-bottom: 2px solid white;
    padding-bottom: 12px;
  }

  .contentList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1400px;
      width: 100%;
      h2 {
        font-size: 32px;
        font-weight: 400;
        margin: 0;
        max-width: 600px;
        text-align: center;
      }
      .left {
        order: -1;
       }
    }

  }

  .closingDesc {
    margin-top: 80px;
    p {
      font-size: 28px;
      max-width: 800px;
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 14px 6px;

    h1 {
      text-align: center;
      font-size: 34px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    .introWrapper {
      p {
        font-size: 22px;
      }
    }
    .contentList {
      gap: 40px;
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 22px;
        }
        img {
          width: 300px;
          height: 200px;
          margin-top: 20px;
        }
      }
      .left {
        order: 1 !important;
       }
    }
    .closingDesc {
      margin-top: 0px;
      p {
        font-size: 22px;
      }
    }
  }
}
