.mobileHeader {
  position: absolute;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.509);
  transition: 0.2s ease-in-out;
  color: #0c2e47;
  font-family: var(--font-bellefair);
  opacity: 0;

  p {
    margin: 0px;
  }
  .hamburger {
    cursor: pointer;
    display: block;
    font-size: 30px;
    padding-bottom: 4px;
  }
  .logo {
    cursor: pointer;
    img {
      height: 30px;
      border-radius: 50%;
    }
  }
}

.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  overflow: hidden;

  .menuActions {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 50px;
    .closeButton {
      position: absolute;
      top: 0.7rem;
      right: 1rem;
      font-size: 36px;
      cursor: pointer;
    }
    .logo {
      img {
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        height: 40px;
        border-radius: 50px;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a {
      font-family: var(--font-bellefair);
      color: white;
      font-size: 24px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    button {
      color: white;
      font-size: 24px;
      text-decoration: none;
      background-color: transparent;
      padding: 0;
    }
  }
}

.scrolled {
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.2s ease-in-out;
  button {
    border: 1px solid black;
  }
}
