.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #effbff;;
  color: #0c2e47;
  font-family: var(--font-bellefair);
  padding: 40px 0px;

  h1 {
    font-size: 50px;
    margin-top: 28px;
    margin-bottom: 40px;
    font-weight: 400;
    font-family: var(--font-kanit);
    border-bottom: 2px solid black;
    padding-bottom: 12px;
  }
  p {
    font-size: 28px;
    max-width: 800px;
    text-align: center;
  }
  button {
    color: white;
    background-color: rgba(20,55,77, 0.9);
    margin-top: 60px;
    margin-bottom: 40px;
    &:hover {
      background-color: rgba(20,55,77, 1);
    }
  }

  @media screen and (max-width: 768px) {
    padding: 14px 0px;

    h1 {
      text-align: center;
      font-size: 34px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    button {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
}
