.heroPromoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #effbff;;
  color: #0c2e47;
  font-family: var(--font-bellefair);
  padding-bottom: 60px;
  padding-top: 20px;

  .textList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    ul {
      div {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    li {
      font-size: 30px;
      max-width: 800px;
      text-align: left;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    margin-top: 32px;
    max-width: 700px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    padding: 14px 0px;

    .textList {
      ul {
        padding-left: 8px;
        div {
          img {
            width: 14px;
            height: 14px;
          }
        }
        li {
          font-size: 22px;
        }
      }
    }
    h2 {
      font-size: 22px;
    }
    .arrowDown {
      height: 80px;
      width: 80px;
    }
  }
}
