.bundleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-top: 8px solid rgba(92,159,202, 0.9);
  border-bottom: 8px solid rgba(92,159,202, 0.9);
  padding: 1.5rem;
  width: 100%;
  margin: 0.5rem;
  max-width: 30rem;
  color: #0c2e47;
  transition: 0.2s ease-in-out;

  h5 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 0;
  }
  .priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  .padded {
    margin-top: 24px;
  }
  .name {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
  }
  .contentContainer {
    span:first-of-type {
      text-decoration: line-through;
    }
    span:nth-child(4) {
      font-weight: 700;
    }
  }
  .price, span {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }
  .price {
    color: rgb(9, 172, 9);
  }
  p {
    font-size: 16px;
    margin: 0px;
  }
  ul {
    border-top: 1px solid #0c2e4720;
    border-bottom: 1px solid #0c2e4720;
    margin: 12px 0px 18px 0px;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px 0px;
      p {
        font-family:Arial, Helvetica, sans-serif;
        margin: 0px;
        font-weight: 400;
        font-size: 17px;
      }
    }
  }
  button {
    color: white;
    background-color: rgba(53,118,159, 0.9);
    margin-top: auto;
    font-size: 24px;
    padding: 12px 40px;
    &:hover {
      background-color: rgba(22, 107, 159, 0.9);
    }
  }

  @media (min-width: 768px) {
    margin: 0;
    width: 100%;
  }
  @media (max-width: 768px) {
    max-width: 95%;
    margin: 0;
    button {
      font-size: 22px;
    }
  }
}
